.screen-container {
  display: flex;
  text-decoration: none;
}

.screen {
  display: flex;
  position: relative;
  min-width: 250px;
  max-width: 500px;
  max-height: 312.5px;
  min-height: 200px;
  border: 3px solid rgb(0 96 44 / 80%);
  /* border: 3px solid rgb(54 158 59 / 80% ); */
  border-radius: 1rem;
  background-color: rgb(0 96 44 / 15%);
  /* background-color: rgb(54 158 59 / 15% ); */
  overflow: hidden;
}

.screen:hover {
  background-color: aqua;
}

.screen__overlay {
  background: linear-gradient(
    rgb(54 158 59 / 15%),
    rgb(54 158 59 / 15%) 3px,
    transparent 3px,
    transparent 9px
  );

  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-size: 100% 9px;
  animation: pan-overlay 22s infinite linear;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.screen__img {
  position: absolute;
  background-image: url("../../assets/images/widerøe_card_img.jpeg");
  height: 100%;
  width: 100%;
  background-size: 200%;
  background-position: center;
  filter: sepia(100%) hue-rotate(90deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
}

@keyframes pan-image {
  0% {
    background-position: 0% 0%;
    background-size: 250%;
  }

  20% {
    background-position: 100% 0%;
    background-size: 250%;
  }

  20.0001% {
    background-position: 0% 0%;
    background-size: 150%;
  }

  40% {
    background-position: 0% 100%;
    background-size: 150%;
  }

  40.0001% {
    background-position: center;
    background-size: 150%;
  }

  60% {
    background-position: 100% 100%;
    background-size: 150%;
  }
}

.screen__content {
  color: white;
  font-family: flama-bold, Tahoma;
  overflow: auto;
  background-color: #4d4e50;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: center;
  flex-grow: 1;
  gap: 4rem;
  position: relative;
  z-index: 3;
  margin: 0.2rem;
  border: 1px solid rgb(0 96 44 / 50%);
  border-radius: 0.6rem;
}

.screen__content h1 {
  margin: 1em 1em 0em;
}

.screen__content p {
  margin: 0em 1em 1em;
}

.screen__content p:empty {
  display: none;
}
