.rdt_Table {
  font-family: flama-book, Tahoma;
  background-color: #f8f7f2 !important;
  overflow-y: scroll;
  overflow: overlay;
  padding-bottom: 1em;
  overflow-x: auto !important;
}

.rdt_TableHeader {
  font-family: flama-bold, Tahoma;
  background-color: #323232 !important;
  color: white !important;
}

.rdt_TableHead {
  font-family: flama-bold, Tahoma;
  border-bottom: 1px solid;
}

.rdt_TableCol {
  background-color: #daeffd;
  padding-left: 0.5em !important;
}

.rdt_TableCell {
  background-color: #f8f7f2;
  padding-left: 0.5em !important;
  border-left: 1px dashed;
  border-right: 1px dashed;
  border-bottom: 1px solid;
}
