#login {
  display: flex;
  font-family: flama-bold, Tahoma;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00602c;
  color: white;
  height: 100vh;
}

#login img {
  margin: auto;
  width: 230px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

#login-container {
  display: flex;
  align-items: center; /* Center the container vertically */
}

#login form {
  text-align: left; /* Left-align the form inside the container */
  margin: 0 auto; /* Center the form inside the container */
  line-height: 2;
}

.login-text {
  text-align: left;
}

Button {
  border: 2px solid white;
}
