.modal {
  width: 40% !important;
  align-items: center !important;
  padding: 0em !important;
}

.container,
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  margin: 10px 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.change-btn,
.delete-btn {
  padding: 30px;
}
